# Ignore directories
env/
__pycache__/
runs*/
final_project/dataset
final_project/syndrone_data
final_project/yolo_env/
vehicle_classification/train
vehicle_classification/test
vehicle_classification/val

trajectory_prediction/__pycache__
trajectory_prediction/runs

# Ignore specific file types
*.npz
*.pth
*.old
*.png